.App {
  font-family: sans-serif;

  padding: 20px;
  color: #ffa; /* Default text color */
  height: 100vh;
}


.header {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}

.main {
  text-align: center;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  background-color: #eee; /* Light background for input */
  color: #333; /* Dark text color for input */
}

input:focus {
  border-color: #aaa; /* Adjust border color on focus */
}